@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Red Hat Display", Helvetica, Arial;

}

body {
    min-height: 100vh;
    max-width: 1440px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 232, 255);
    background-image: url("/FEM-order_summary_component/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    max-width: 400px;
    height: 650px;
    box-shadow: 0.1px 30px 50px -3px rgba(84, 115, 226, 0.2);
}

.banner {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.title {
    font-size: 26px;
    font-weight: 900;
    padding: 40px 0px 20px 0px;
}


.description {
    font-size: 16px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    text-align: center;
    line-height: 25px;
    padding: 0px 35px 20px 35px;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    width: 320px;
    gap: 25px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.annual {
    font-weight: 900;
}

.price {
    color:hsl(224, 23%, 55%);
    font-size: 15px;
}

.cost {
    line-height: 25px;
}

.change {
    font-size: 14px;
    font-weight: 600;
}

button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    width: 320px;
    padding: 15px 0px 15px 0px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 900;
    box-shadow: 0.1px 15px 20px -3px rgba(84, 115, 226, 0.35);
}

.cancel {
    padding: 25px 0px 15px 0px;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}